/* ====================
Hero
=======================
1-Left Section
2-Right Section
*/



/* ====================
1-Left Section
=======================*/


section.hero {
    margin-top: 3rem;
    align-items: start;
}

section.hero .parent-avatar.flex {
    align-items: end;
    gap: 0.6rem;
}

section.hero .left-section {
    flex-grow: 1;
    /* width: 50%; */
}

section.hero .icon-verified {
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

section.hero .avatar {
    border-radius: 50%;
    width: 80px;
    border: 1px solid darkorange;
    padding: 1px;
    box-shadow: 2px 2px 40px gray inset;
}

section.hero h1.title {
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero p.sub-title {
    font-size: 0.9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
    color: var(--subtitle);
}

section.hero .all-icons {
    font-size: 1.3rem;
    color: var(--subtitle);
    gap: 1.5rem;
}

section.hero .all-icons .icon:hover {
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
}

section.hero .icons {
    gap: 16px;
}

/* ====================
2-Right Section
=======================*/
.right-section {
    justify-content: end;
    margin: 0;
    padding: 0;
}

img.right {
    width: 23rem;
    height: 20rem;
    border-radius: 20px;
    rotate: -10deg;
}